@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600&family=Belanosima:wght@400;600&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}
:root {
  --bg-color: #18191a;
  --nav-colr: #242526;
  --icon-color: #a0a3a8;
  --input-color: #3a3b3c;
  --font-color: #b8bbbf;
  --bela: "Belanosima";
}
body {
  background-color: var(--bg-color);
}
main {
  width: 100%;
  height: 100%;
}
.profile-section {
  position: relative;
  border-radius: 10px;
  width: 50%;
  height: 100px;
  background-color: var(--input-color);
  margin: auto;
  margin-top: 10px;
}
.organize {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.personal-info {
  width: 100%;
  height: 100%;
}
.organize2 {
  margin: auto;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  position: relative;
}
.posts-comments-counter {
  display: flex;
  gap: 30px;
}
.posts-comments-counter span {
  color: var(--font-color);
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.posts-comments-counter span b {
  font-size: 40px;
}
#profile-picture img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.show {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  position: absolute;
  display: none;
}
#close-btn {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  color: var(--font-color);
  font-size: 22px;
  position: absolute;
  right: 0px;
  top: 5px;
  cursor: pointer;
}
.see-profile-picture {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 99999;
  left: 50%;
  display: none;
  object-fit: cover;
  transform: translate(-50%, -50%);
}
.user-information {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.back-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  top: 30px;
  cursor: pointer;
  font-size: 20px;
}
.back-btn:hover {
  background-color: var(--input-color);
}
.user-posts {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.all-posts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  position: relative;
}
.post {
  background-color: var(--nav-colr);
  border-radius: 7px;
  min-height: 250px;
  height: 300px;
  margin-bottom: 170px;
}
.user-info {
  display: flex;
  gap: 10px;
  margin-left: 15px;
  cursor: pointer;
}
.profile-picture {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.user-pic {
  margin-top: 10px;
}
.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.user-name {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10px;
}
.user-name span:hover,
.post-date:hover {
  text-decoration: underline;
}
.user-name a {
  color: #e4e6eb;
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
}
.user-name a:visited {
  text-decoration: none;
  color: #e4e6eb;
}
.user-name a:hover {
  text-decoration: underline;
}
.user-name .post-date {
  color: var(--font-color);
  font-size: 12px;
  font-weight: 500;
}
.post-content {
  color: #e4e6eb;
  margin: 10px;
  margin-left: 15px;
  font-family: "Belanosima";
  font-weight: 400;
  font-size: 15px;
  overflow: auto;
  height: 20%;
}
.post-img {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
}
.post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tags {
  border-radius: 0 0 7px 7px;
  display: flex;
  align-items: center;
}
.tags,
.comments {
  width: 100%;
  height: 35px;
  background-color: var(--input-color);
}
.comments {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 10px;
  cursor: pointer;
  border-radius: 0 0 7px 7px;
}
.comments:hover .cm,
.comments:hover i {
  color: rgb(170, 164, 164);
}
.tag {
  width: 50px;
  height: 25px;
  background-color: var(--bg-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 2px;
  margin-left: 5px;
}
.choose-button {
  width: 35px;
  height: 35px;
  font-size: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--font-color);
  cursor: pointer;
}
.buttons {
  display: flex;
  flex-direction: column;
  background-color: var(--input-color) !important;
  width: 150px;
  border-radius: 5px;
  margin-top: 10px;
  position: absolute;
  right: 15px;
  top: 30px;
  opacity: 0;
}
.update-post span,
.delete-post span {
  font-size: 16px;
}
.choose-button:focus ~ .buttons {
  opacity: 1;
}

.choose-button:hover,
.choose-button:focus {
  background-color: var(--input-color);
}
.update-post,
.delete-post {
  padding: 5px;
  display: flex;
  gap: 5px;
  background-color: transparent;
  border: none;
  color: var(--font-color);
  cursor: pointer;
  z-index: 99999;
}
.update-post .fa-solid,
.delete-post .fa-solid {
  width: 20px;
  font-size: 18px;
}
.update-post:hover,
.delete-post:hover {
  background-color: var(--nav-colr);
}
.post-buttons {
  align-self: center;
  margin-left: auto;
  padding-right: 20px;
  font-size: 20px;
  color: var(--font-color);
  position: relative;
  width: fit-content;
}
.comments-counter {
  padding: 8px;
  color: rgb(170, 164, 164);
  background-color: var(--nav-colr);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  border-radius: 0 0 7px 7px;
}
.comments-counter:hover {
  text-decoration: underline;
}
.profile-name {
  color: var(--font-color);
  font-size: 25px;
  font-weight: 600;
  font-family: var(--bela);
}
.divide {
  width: 80%;
  height: 2px;
  background-color: var(--font-color);
  margin: auto;
  margin-top: 20px;
}
.image-error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 500;
  color: var(--font-color);
}

.loader {
  width: 35px;
  height: 35px;
  border: 4px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.post-added {
  position: fixed;
  left: 50%;
  top: -100px;
  background-color: green;
  transform: translateX(-50%);
  width: 40%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  border-radius: 5px;
  font-weight: 500;
  font-family: "Belanosima";
  transition: top 0.3s ease-in;
  color: white;
  font-size: 18px;
}

/* Ipad */

@media (max-width: 1150px) {
  .profile-section,
  .divide,
  .user-posts {
    width: 90%;
  }
  .all-posts {
    grid-template-columns: repeat(2, 1fr);
  }
  .back-btn {
    left: 0px;
  }
}

/* Large Mobile */

@media (max-width: 638px) {
  .profile-section,
  .divide,
  .user-posts {
    width: 80%;
  }
  .personal-info {
    height: 100px;
  }
  .organize2 {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  #pic {
    width: 50px !important;
    height: 50px !important;
  }
  .posts-comments-counter span b {
    font-size: 32px;
  }
  .all-posts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0;
  }
  .back-btn {
    left: 2px;
  }
  .user-information {
    margin-top: 8px;
    justify-content: center;
  }
  .organize::-webkit-scrollbar {
    display: none;
  }
}

/* Small Mobile */

@media (max-width: 375px) {
  .user-posts,
  .divide {
    width: 95%;
  }
  .post-buttons {
    padding-right: 10px;
  }
  .buttons {
    right: 10px;
    top: 40px;
  }
  .back-btn {
    width: 25px;
    height: 25px;
    font-size: 16px;
  }
  .profile-name p {
    font-size: 20px;
  }
  .posts-comments-counter span {
    font-size: 13px;
  }
  .posts-comments-counter span b {
    font-size: 20px;
  }
}
